out
dist
node_modules
.vscode-test/
.DS_Store
# Ignore SoX binaries
resources/bin/win32/sox.exe
resources/bin/win32/*.dll
resources/bin/darwin/sox
resources/bin/linux/sox
# Debug files
WhisperDictation/Debug/

# Test files
*.ogg
*.wav
*-test.js
test-*.js

# Debug recordings
DictationAudio/
